* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #eee;
    margin: 0;
    padding: 0;
}

.FAKEIMAGE {
    background-color: #aaa;
    width: 100%;
    position: relative;
}

img {
    vertical-align: middle;
    position: absolute;
    width: 100%;
    height: 250px;
}

.ROWING {
    display: flex;
}

.ROWING .leftSide {
    flex: 33.33333%;
    background-color: #fff;
    margin: 20px 10px 20px 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.ROWING .leftSide i {
    color: #009688;
    font-size: 20px;
    margin-right: 5px;
}

.ROWING .leftSide .imgContainer {
    position: relative;
}

.ROWING .leftSide .imgContainer .name {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.ROWING .leftSide .contacts {
    margin: 15px;
}

.ROWING .leftSide .contacts p {
    font-size: 14px;
    color: #727272;
}

.ROWING .leftSide hr {
    margin: 25px;
    color: #009688;
}

.ROWING .leftSide .SKII {
    margin: 15px;
}

.ROWING .leftSide .SKII h3 {
    color: #727272;
    font-weight: normal;
}

.ROWING .leftSide .SKII h3 i {
    margin-right: 10px;
}

.ROWING .leftSide .SKII p {
    color: #727272;
}

.ROWING .leftSide .SKII .FPROGRESS {
    background-color: #aaa;
    border-radius: 10px;
    overflow: hidden;
}

.ROWING .leftSide .SKII .FPROGRESS .curProgress {
    background-color: #009688;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}

.ROWING .leftSide .SKII .FPROGRESS .cur1 {
    width: 90%;
}

.ROWING .leftSide .SKII .FPROGRESS .cur2 {
    width: 80%;
}

.ROWING .leftSide .SKII .FPROGRESS .cur3 {
    width: 75%;
}

.ROWING .leftSide .SKII .FPROGRESS .cur4 {
    width: 50%;
}

.ROWING .rightSide {
    flex: 66.66666%;
}

.ROWING .rightSide .theInsideRow {
    flex: 100%;
    background-color: #fff;
    margin: 20px 20px 20px 10px;
    padding: 20px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.ROWING .rightSide .theInsideRow h3 {
    color: #727272;
    font-weight: normal;
}

.ROWING .rightSide .theInsideRow h3 i {
    color: #009688;
    margin: 7px 7px 7px 0;
    font-size: 25px;
}

.ROWING .rightSide .theInsideRow .jobInformation h5 {
    color: #727272;
    font-size: 16px;
}

.ROWING .rightSide .theInsideRow .jobInformation h6 {
    font-weight: normal;
    font-size: 15px;
    color: #009688;
    margin-top: -10px;
}

.ROWING .rightSide .theInsideRow .jobInformation h6 span {
    background-color: #009688;
    color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
}

.ROWING .rightSide .theInsideRow .jobInformation h6 i {
    margin-right: 7px;
}

.ROWING .rightSide .theInsideRow .jobInformation p {
    font-size: 14px;
}

.ROWING .rightSide .theInsideRow hr {
    margin: 30px;
    color: #009688;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #009688;
    padding: 30px;
}

footer i {
    font-size: 30px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

.name {
    color: white;
}